body {
	padding: 0;
	margin: 0;
	font-family: Courier New;
	background-color: white;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: white;
}

.navbar {
  overflow: hidden;
  background-color: #0040ff;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  padding-top: 5px;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.clog {
  background-color: #0040ff;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  margin: auto;
  color: white;
  border-radius: 10px;
}

.digit {
	font-size: 60px;
	color: white;
}

.txt {
	font-size: 20px;
	color: white;
}

.btn {
	width: 150px;
	padding: 10px 15px;
	margin: 2px 10px 5px 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	cursor: pointer;
	font-size: 20px;
	transition: 0.5s;
	color: white;
	font-weight: 500;
	color: rgb(0, 0, 0);
}

.buttons {
  margin-top: 100px;
}

#start {
	background-color: #009779;
	color: #fff;
}

#start:active {
	background-color: #003329;
}

#stop {
	background-color: #c91400;
	color: #fff;
}

#stop:active {
	background-color: #024d97;
}

#reset {
	background-color: #0e85fc;
	color: #fff;
}

#reset:active {
	background-color: #660a00;
}

#ssss:active {
	background-color: #4d79ff;
}

#notarzt:active {
  background-color: #4d79ff;
}

#ansprache:active {
  background-color: #4d79ff;
}

#bewusstsein:active {
  background-color: #4d79ff;
}

#sampler:active {
  background-color: #4d79ff;
}

#opqrst:active {
  background-color: #4d79ff;
}

#reeval:active {
  background-color: #4d79ff;
}

#zugang:active {
  background-color: #4d79ff;
}

#critical:active {
  background-color: #4d79ff;
}

#atemweg:active {
  background-color: #4d79ff;
}

#af:active {
  background-color: #4d79ff;
}

#auskultation:active {
  background-color: #4d79ff;
}

#spo:active {
  background-color: #4d79ff;
}

#puls:active {
  background-color: #4d79ff;
}

#hf:active {
  background-color: #4d79ff;
}

#rr:active {
  background-color: #4d79ff;
}

#ekg:active {
  background-color: #4d79ff;
}

#recap:active {
  background-color: #4d79ff;
}

#gcs:active {
  background-color: #4d79ff;
}

#bz:active {
  background-color: #4d79ff;
}

#fast:active {
  background-color: #4d79ff;
}

#verletzungen:active {
  background-color: #4d79ff;
}

#temp:active {
  background-color: #4d79ff;
}

#erkannt:active {
  background-color: #4d79ff;
}

#patches:active {
  background-color: #4d79ff;
}

#schock:active {
  background-color: #4d79ff;
}

#analyse:active {
  background-color: #4d79ff;
}

#supra:active {
  background-color: #4d79ff;
}

#amio:active {
  background-color: #4d79ff;
}

#tubus:active {
  background-color: #4d79ff;
}

#rosc:active {
  background-color: #4d79ff;
}
